\.python-version
solution.ipynb
data/raw.csv
.ipynb_checkpoints
data/machina.tinyflux
sample.parquet
machina_de_hw_draft1.ipynb
machina_de_hw_draft1-Copy2.ipynb
machina_de_hw_draft1-Copy1.ipynb
machina_lab.db
\.DS_Store
